# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Specific for this project
build
Quaternions
Quaternions.py
Quaternions_wrap.cpp
