*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Custom ignores
Notes
EMRIGWFlux_7PN_Simplified.tex
ipython_notebook_config.py
.ipynb_checkpoints
TODO.txt
Untitled0.ipynb
Waveforms/source/BlanchetLivRev/BlanchetLivRev.tgz
Waveforms/source/BlanchetLivRev/article.tex
Waveforms/source/BlanchetLivRev/epubtk.sty
Waveforms/source/BlanchetLivRev/livrevrel.bst
Waveforms/source/BoheEtAl.tgz
Waveforms/source/BoheEtAl/BMB13.tex
